* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

#board {
  position: relative;
  margin-top: 30px;
  display: inline-block;
}

.row {
  font-size: 0px;
}

.col {
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  display: inline-block;
  background-color: #fff;
}

.col.obstacles {
  background-color: lightslategray;
}

.col.playerOne {
  background-color: lightblue;
}

.col.playerTwo {
  background-color: lightgreen;
}

#playerOne {
  position: absolute;
  background: url(Assets/tank_green.png) no-repeat;
  width: 42px;
  height: 46px;
}
